.aboutus-container{
  margin-top: 10%;
}

.maintxt {
  color: #6a1b9a;
  font-weight: 700;
  font-size: 40px;
}

.subtxt {
  font-weight: 600;
  font-size: 18px;
}

.frame1 {
  width: 86%;
  margin: 0 auto;
}

.name {
  font-weight: 700;
  font-size: 25px;
}

.story {
  width: 80%;
  margin: 50px auto;
}

.tminfo {
  padding-bottom: 20px;
}

.storydetails {
  font-size: 20px;
}

.subscribe {
  max-width: 800px;
  margin: 0 auto 50px;
  background: rgba(183, 57, 255, 0.08);
  height: 40vh;
  text-align: center;
  border-radius: 20px;
  padding: 45px 12px;
}

.subscribe h1 {
  color: black;
  text-align: center;
  margin-left: 9.5%;
}

.subscribe p{
  margin-top: -6%;
}

.subscribe button {
  color: #fff;
  background: #6a1b9a;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
}

.subscribe button:hover {
  background: #fff;
  color: #6a1b9a;
  border: 1px solid #6a1b9a;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .maintxt {
    font-size: 25px;
  }

  .subtxt {
    font-size: 14px;
  }

  .frame1 {
    width: 100%;
  }

  .tminfo {
    width: 100%;
    padding: 10px;
  }

  .imginfo {
    width: 100px;
    margin: 0 auto;
  }

  .name {
    font-size: 18px;
  }

  .stark {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }

  .storydetails {
    font-size: 14px;
  }

  .subscribe {
    height: auto;
    padding: 20px;
  }

  .subscribe h1 {
    font-size: 20px;
  }

  .subscribe button {
    font-size: 16px;
  }
}
