* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: purple;
}

.back{
  cursor: pointer;
}

.back:hover{
  color: purple;
}

.section1 {
  width: 100%;
  /* max-width: 500px; */
  width: 50%;
  color: white;
}

.section1 h1 {
  font-size: 15rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

.section1 p {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  letter-spacing: 5px;
}

.section2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px 30px;
  gap: 20px;
  background-color: white;
  height: 100%;
}

.section2 .header h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: left;
  margin: 0;
  color: purple;
}

.section2 .header p {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.section2 .signup-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2 .signup-btns div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section2 .signup-btns span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 2%;
}

.section2 .signup-btns span p {
  margin: 0;
  padding: 0%;
  font-size: 1.5rem;
}

.section2 .signup-btns span hr {
  width: 100%;
  height: 1px;
  border: 1px solid white;
}

.section2 .signup-btns h2 {
  font-size: 1rem;
  margin-top: 2%;
  color: purple;
}

.login-btn h2 {
  font-size: 1.5rem;
  color: black;
}

/* Add these to your Auth.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.close-btn {
  margin-top: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
