body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: auto; */
}
.responsive-dashboard {
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.cover-photo {
  position: relative;
  width: 100%; 
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.profile-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: -150px;
}

.user-info {
  display: flex;
  align-items: flex-start;
  gap: 5%;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid green;
  margin-bottom: 10px;
}

.events-section {
  margin-bottom: 30px;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10%;
}

.events-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.events-section .event-nav {
  display: flex;
  justify-content: left;
}

.events-section .event-nav span {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: color 0.3s ease;
}

.events-section .event-nav .active {
  color: #007bff;
}

.events-section .event-nav span:hover {
  color: #007bff;
}

.events-section .events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: -3%;
}

.events-section .event {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.events-section .event img {
  width: 100%;
  height: auto;
}

.events-section .event .event-details {
  padding: 10px;
  background-color: #f9f9f9;
}

.events-section .event .event-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.events-section .event .event-details p {
  margin: 5px 0;
}

.events-section .event .event-details .event-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.events-section .event .event-details .event-price p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.events-section .event:hover {
  transform: translateY(-5px);
}

.create-event-section form {
  display: flex;
  flex-direction: column;
}

.create-event-section form label {
  margin-bottom: 10px;
}

.create-event-section form input,
.create-event-section form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.create-event-section form button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-event-section form button:hover {
  background-color: #0056b3;
}
