/* FAQ.css */

.faq-container {
  width: 100%;
  background-color: purple;
  /* margin: 0 auto; */
  align-items: center;
  padding: 20px;
  display: flex;
  gap: 5%;
  margin-bottom: 10%;
}

.faq-text{
    padding-left: 40px;
}

h1{
    margin-bottom: 8%;
    width: 80%;
    text-align: left;
}
.faq-list {
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 600px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

/* .question:hover {
  background-color: #f5f5f5;
} */

.question h5 {
  margin: 0;
  color: white;
}

.plus,
.minus {
  font-size: 20px;
  transition: transform 0.3s ease;
  color: white;
}

.minus {
  transform: rotate(45deg);
}

.answer {
  padding: 15px;
  /* background-color: #f9f9f9; */
}

.faq-img img{
    width: 150%;
    height: 80vh;
}
