* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid purple;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-us {
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}
h1 {
  color: white;
}
h2 {
  color: #000000;
}
p {
  color: white;
}
.about-banner {
  max-width: 100%;
  padding: 15% 20px 15% 20px;
  margin: 0% auto 5% auto;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.about-banner h1 {
  width: 60%;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 0% auto;
  margin-bottom: 2%;
}
.about-banner p {
  width: 40%;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  margin: 0% auto;
  margin-bottom: 3%;
  color: white;
}
.banner-img {
  width: 90%;
}

.banner-buttons button {
  border: none;
  padding: 10px 15px;
  margin-left: 2%;
  border-radius: 10px;
}
.btn-a {
  background-color: #3e065e;
  color: white;
  width: 30%;
}

.btn-a:hover {
  background-color: #ebc9fe;
  color: #3e065e;
  transition: 0.5s;
}

.btn-b {
  background-color: #ebc9fe;
  color: #3e065e;
  width: 30%;
}

.btn-b:hover {
  background-color: #3e065e;
  color: white;
  transition: 0.5s;
}

/* categories */
.categories {
  max-width: 100%;
  margin: 0% auto;
  margin-bottom: 5%;
  padding: 0 5%;
}

.categories h2 {
  font-weight: bolder;
  color: purple;
  text-align: left;
}

.categories p {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 5%;
  text-align: left;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 15px;
  justify-content: center;
}


.category-list ul {
  list-style-type: none;
}

.catt ul{
  transition: transform 0.5s ease-in-out;
}

.category {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.category:hover {
  background-color: #3e065e;
  color: white;
  transition: 0.5s;
}
/* event list */



hr {
  width: 5%;
  margin: 0% auto;
  border: 5px solid purple;
  margin-top: 3%;
}

/* service */
.services {
  max-width: 100%;
  margin: 0% auto;
  margin-bottom: 10%;
  padding: 0 5%;
}
.services h2 {
  margin-bottom: 5%;
  font-weight: bolder;
  color: #000000;
}

.each {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  margin: 0% auto;
  width: 100%;
}
.each p {
  color: #000000;
  font-size: 13px;
  font-weight: bolder;
}
.each div {
  text-align: left;
  padding: 10px;
}

.each ul {
  list-style-type: none;
  padding-top: 2%;
}

.each ul li {
  display: flex;
  gap: 2%;
  padding: 10px;
  margin-left: -10%;
}

/* event */
.find-event {
  background-color: #bebdbd;
}
.find-event h1 {
  color: black;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0;
  width: 100%;
}

.find-event p {
  color: black;
  text-align: center;
  margin-bottom: 5%;
}

.find-event-container {
  display: flex;
  gap: 5%;
  max-width: 80%;
  margin: 0% auto;
  align-items: center;
  padding-bottom: 5%;
}
.event-text {
  width: 50%;
  padding: 10px 30px 0 30px;
}

.event-text ul {
  list-style-type: none;
  text-align: left;
}

.event-text li {
  padding: 15px;
  border-bottom: 1px solid black;
  font-size: 1rem;
  font-weight: bolder;
}

.event-img {
  display: grid;
  padding: 10px;
  width: 50%;
}
.event-img img {
  width: 100%;
  height: 80vh;
}

/* review */
.review {
  width: 100%;
}
.review h1 {
  color: #000000;
  text-align: center;
  margin-left: 10%;
}
.review-cards {
  display: flex;
  margin: 0% auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  gap: 5%;
}
.each-card {
  width: 27%;
  color: #000000;
  text-align: left;
  display: grid;
  align-items: start;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}
.each-card p {
  color: #000000;
}
.card-header {
  display: flex;
  align-items: center;
}
.card-header img {
  width: 30%;
}

/* complement */

.complement {
  display: flex;
  gap: 5%;
  background-color: white;
  padding: 5%;
  align-items: center;
}
.comlement-text {
  text-align: left;
  padding: 10px;
}
.comlement-text h1 {
  color: black;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 1.5%;
  font-size: 2.4rem;
  width: 100%;
  font-weight: bolder;
}

.comlement-text p {
  color: black;
  text-align: left;
  margin-bottom: 5%;
  font-size: 1.2rem;
}

.comlement-text .route {
  background-color: #3e065e;
  color: white;
  padding: 10px 40px;
  width: 50%;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

.comlement-text .route:hover {
  background-color: #ebc9fe;
  color: #3e065e;
  border: 1px solid #3e065e;
  transition: 0.5s;
}

/* newsletter */
.newsletter {
  background-color: #ebc9fe;
  max-width: 80%;
  padding: 80px;
  text-align: center;
  margin: 0% auto;
  margin-bottom: 12%;
}
.newsletter h1 {
  color: #000000;
  text-align: center;
  margin-left: 10%;
}
.newsletter button {
  background-color: #3e065e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 3%;
}

@media screen and (max-width: 500px) {
  .about-banner {
    max-width: 100%;
    padding: 15% 20px 20px 20px;
    margin: 0% auto 10% auto;
    text-align: center;
    background-image: url(../assets/images/image\ 171.png);
  }
  .about-banner h1 {
    width: 80%;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5%;
  }
  .about-banner p {
    width: 80%;
    font-size: 0.7rem;
    margin-bottom: 15%;
  }

  .banner-buttons {
    display: grid;
    max-width: 80%;
    gap: 15%;
    margin: 0% auto 4% auto;
  }
  .banner-buttons button {
    margin-left: 0%;
  }

  .each {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    margin: 0% auto;
    width: 60%;
    margin-left: -5%;
  }

  .each div {
    width: 100%;
  }

  .each img.es {
    order: -1;
  }

  .find-event {
    text-align: left;
    margin-top: 47%;
    margin-bottom: 5%;
    padding: 5% 0 0 0;
  }
  .find-event p {
    color: white;
  }
  .find-event-container {
    display: grid;
    gap: 5%;
    max-width: 100%;
    margin: 0% auto;
    align-items: center;
    padding-bottom: 5%;
  }
  .event-text {
    width: 100%;
  }

  .event-img {
    display: none;
  }

  .review {
    width: 100%;
    margin-bottom: 45%;
  }
  .review h1 {
    margin-left: 0%;
    font-size: 1.5rem;
  }
  .review-cards {
    display: grid;
    margin: 0% auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    gap: 5%;
  }
  .each-card {
    width: 80%;
    color: #000000;
    text-align: left;
    display: grid;
    align-items: start;
    margin-left: 10%;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  }
  .each-card p {
    color: #000000;
  }
  .card-header {
    display: grid;
    align-items: center;
  }

  .card-header img {
    width: 50%;
  }

  .complement {
    display: grid;
    gap: 5%;
    background-color: white;
    padding: 5%;
    align-items: center;
  }

  .comlement-text {
    text-align: left;
    padding: 10px;
  }

  .comlement-text h1 {
    color: black;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 1.5%;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bolder;
  }

  .comlement-text p {
    color: black;
    text-align: left;
    margin-bottom: 5%;
    font-size: 0.8rem;
  }

  .comlement-image {
    display: none;
  }

  .newsletter {
    background-color: #ebc9fe;
    max-width: 100%;
    padding: 40px;
    text-align: center;
    margin-bottom: 12%;
  }
  .newsletter h1 {
    color: #000000;
    text-align: center;
    margin-left: 0%;
    font-size: 1.4rem;
    width: 100%;
  }
  .newsletter button {
    background-color: #3e065e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 3%;
  }
}
