* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-us {
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}
h1{
    color: white;
}
h2{
    color: #000000;
}
p{
    color: white;
}
.about-banner{
    max-width: 80%;
    padding: 15% 20px 20px 20px;
    margin: 5% auto 10% auto;
    text-align: center;
    background-image: url(../assets/images/image\ 171.png);
}
.about-banner h1{
    width: 60%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 2%;
}
.about-banner p{
    width: 40%;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 3%;
    color: white;
}
.banner-img {
  width: 90%;
}

.banner-buttons button{
    border: none;
    padding:10px 15px;
    margin-left: 2%;
    border-radius: 10px;
}
.btn-a{
    background-color: #3E065E;
    color: white;
}
.btn-b{
    background-color: #ebc9fe;
    color: #3E065E;
}

hr{
    width: 5%;
    margin: 2% auto;
    border: 5px solid purple;
}

/* service */
.services{
    max-width: 80%;
    margin: 0% auto;
    margin-bottom: 10%;
}
.services h2{
    margin-bottom: 5%;
    font-weight: bolder;
    color: #000000;
}
.service{
    display: grid;
    gap: 7%;
}
.each{
    display: flex;
}
.each-service img {
    max-width: 80%; /* Set the maximum width of the images */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  }


/* team */
.team{
    max-width: 80%;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 12%;
}

.each-team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  text-align: center;
  margin: 0 10px;
}
.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* event */
.find-event{
    display: flex;
    background-color: #3E065E;
    margin-bottom: 5%;
    text-align: left;
}
.find-event p{
    color: white;
}
.event-text{
    width: 50%;
    margin-top: 5%;
    padding: 10px 30px 0 10px;
}

.event-img{
    display: grid;
    padding: 10px;
    width: 50%;
}
.event-img img{
  width: 100%;
  height: 50vh;
}

/* review */
.review{
    width: 100%;
}
.review h1{
    color: #000000;
    text-align: center;
    margin-left: 10%;
}
.review-cards{
    display: flex;
    margin: 0% auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    gap: 5%;
}
.each-card{
    width: 27%;
    color: #000000;
    text-align: left;
    display: grid;
    align-items: start;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}
.each-card p{
    color: #000000;
}
.card-header{
    display: flex;
    align-items: center;
}
.card-header img{
 width: 30%;
}

/* newsletter */
.newsletter{
    background-color: #ebc9fe;
    max-width: 80%;
    padding: 80px;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 12%;
}
.newsletter h1{
    color: #000000;
    text-align: center;
    margin-left: 10%;
}
.newsletter button{
    background-color: #3E065E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 3%;
}