* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.form-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0px;
}

.form-image img {
  width: 650px;
  height: 180vh;
  margin-left: 20%;
}

.form-container {
  padding: 20px 70px 20px 100px;
  width: 50%;
  margin-top: 18%;
}

.form-header {
  text-align: center;
}

.form-header h1 {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 5px;
  margin: 0 0 0 40%;
}

.form-header p {
  color: grey;
  font-size: 1rem;
  font-weight: 500;
}

.navigation-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10%;
}

.navigation-toggle div {
  padding: 5px 20px;
  cursor: pointer;
  color: purple;
}

.navigation-toggle div.active {
  font-weight: bold;
  border-bottom: 2px solid purple;
}

.form-content {
  min-height: 60vh;
}

.fm,
.fmm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.fm label:nth-child(3),
.fmm label:nth-child(3),
.fm label:nth-child(4),
.fmm label:nth-child(4) {
  grid-column: span 2;
}

form label {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  width: 90%;
}

.password-container input[type="checkbox"] {
  width: 10%;
}
#organization_description{
  height: 100px;
  width: 100%;
  padding: 0.3rem 1.5rem 0.3rem 1rem;
}
form input {
  padding: 0.3rem 1.5rem 0.3rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 2%;
  height: 35px;
  width: 100%;
}

form button {
  border-radius: 10px;
  background-color: purple;
  color: white;
  border: none;
  padding: 0.3rem 1.5rem;
  margin: 8% 0;
  width: 100%;
}

form button:hover {
  background-color: rgb(245, 24, 245);
}

.ottp {
  margin-top: 0;
}
.ottp h1 {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 5px;
  margin: 0 0 0 28%;
}
.otp-box {
  display: flex;
  gap: 10px;
  margin: 10% 0;
}

.otp-text {
  margin-top: 2%;
  color: grey;
  text-align: center;
}

.otp-box input {
  width: 20%;
  text-align: center;
}

.get-code span {
  color: purple;
  cursor: pointer;
  font-weight: bolder;
}

.successful {
  text-align: center;
  width: 100%;
}

.successful h1 {
  color: black;
  font-size: 1.5rem;
  margin: 0 0 0 35%;
  font-weight: bolder;
  padding-bottom: 10px;
}

.successful p {
  color: grey;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 5% 20%;
}

.successful #btn-login {
  border-radius: 10px;
  background-color: purple;
  text-decoration: none;
  color: white;
  padding: 0.3rem 1.5rem;
  margin: 5% 5% 5% 25%;
  width: 46%;
}


@media screen and (max-width: 768px) {
  .form-all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0px;
  }

  .form-image img {
    display: none;
  }

  .form-container {
    padding: 20px 30px;
    width: 100%;
  }

  .form-header {
    text-align: left;
  }

  .form-header h1 {
    margin: 0 0 0 0;
  }

  .fm,
  .fmm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
  }

  .fm label:nth-child(3),
  .fmm label:nth-child(3),
  .fm label:nth-child(4),
  .fmm label:nth-child(4) {
    grid-column: span 1;
  }

  .navigation-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 10%;
  }

  .navigation-toggle div {
    padding: 5px 20px;
    cursor: pointer;
    color: purple;
  }

  .navigation-toggle div.active {
    font-weight: bold;
    border-bottom: 2px solid purple;
  }

  .form-content {
    min-height: 60vh;
  }

  form label {
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }

  .password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .password-container input[type="password"],
  .password-container input[type="text"] {
    width: 90%;
  }

  .password-container input[type="checkbox"] {
    width: 10%;
  }

  form input {
    padding: 0.3rem 1.5rem 0.3rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 2%;
    height: 35px;
    width: 100%;
  }

  form button {
    border-radius: 10px;
    background-color: purple;
    color: white;
    border: none;
    padding: 0.3rem 1.5rem;
    margin: 8% 0;
    width: 100%;
  }

  form button:hover {
    background-color: rgb(245, 24, 245);
  }

  .ottp {
    margin-top: 0;
  }
  .ottp h1 {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 5px;
    margin: 0 0 0 15%;
  }

  .otp-box {
    display: flex;
    gap: 10px;
    margin: 10% 0;
  }

  .otp-text {
    margin-top: 2%;
    color: grey;
    text-align: center;
  }

  .otp-box input {
    width: 20%;
    text-align: center;
  }

  .get-code span {
    color: purple;
    cursor: pointer;
    font-weight: bolder;
  }

  .successful {
    text-align: center;
    width: 100%;
    margin: 50% auto;
  }

  .successful h1 {
    color: black;
    font-size: 1.5rem;
    margin: 0 0 0 13%;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  .successful p {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 5% 3%;
  }

  .successful #btn-login {
    border-radius: 10px;
    background-color: purple;
    text-decoration: none;
    color: white;
    padding: 0.3rem 1.5rem;
    margin: 5% 5% 5% 7%;
    width: 46%;
  }
}
